body {
    background-image: url(https://image.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg);
}

.main {
    margin: 20px;
    background-color: #dedfe0;
}
.my-image {
    margin: 2px 10px;
}