body {
    background-image: url(https://image.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg);
}

.main {
    margin-top: 40px;
    padding: 20px 30px;
    background-color: #e0e0d8;
    border-radius: 15px;
}
.my-image {
    margin: 2px 15px;
}